// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.markdown-block {
  max-width: 400px; /* Adjust the value as needed */
  margin: 0 auto; /* This centers the block */
}
.custom-image-size {
  max-width: 100%; /* Ensures image is responsive and fits the container */
  height: auto; /* Maintains aspect ratio */
  /* Add other properties as needed */
}

.align-left {
  float: left;
  margin-left: auto;
  margin-right: 10px;
}