// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}


.custom-image-size {
  max-width: 100%; /* Ensures image is responsive and fits the container */
  height: auto; /* Maintains aspect ratio */
  /* Add other properties as needed */
}

.align-left {
  float: left;
  margin-left: auto;
  margin-right: 10px;
}


/* Styles for the horizontal layout */
.horizontal-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap if necessary */
  gap: 20px; /* Space between items */
  justify-content: space-between;
  margin: 20px 0;
}

/* Styles for individual horizontal items */
.horizontal-item {
  flex: 1;
  min-width: 300px;
  max-width: none; /* Remove any max-width restrictions for horizontal layout */
  margin: 1px; /* Add custom margins */
  padding: 1px;
  box-sizing: border-box;
  /* background-color: #f5f5f5; /* Optional */
  border-radius: 8px; /* Optional */
}
