// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.markdown-block {
  max-width: 400px; /* Adjust the value as needed */
  margin: 0 auto; /* This centers the block */
}
.custom-image-size {
  max-width: 100%; /* Ensures image is responsive and fits the container */
  height: auto; /* Maintains aspect ratio */
  /* Add other properties as needed */
}

.align-left {
  float: left;
  margin-left: auto;
  margin-right: 10px;
}

.horizontal-container {
  display: flex;
  justify-content: space-between; /* Adjust spacing between items */
  gap: 20px; /* Adds space between items */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
}

.horizontal-item {
  flex: 1; /* Adjusts width to be equal */
  margin: 10px; /* Adds margin around each item */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}